@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  flex-direction: column;
}

.home-start-button {
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.home-start-button:hover {
  background-color: black;
  /* border-color: white; */
  color: white;
}

@keyframes Rightside {
  0% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0px);
  }
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all ease 0.5s;
  background: white;
  font-size: 1.3rem;
  z-index: 1111;
}

.nav-links {
  display: flex;
}

.nav-links li {
  padding-right: 20px;
  transition: all 0.3s ease;
}

.nav-links li:hover {
  transform: scale(1.1);
}

.size-label {
  font-size: 2rem;
  display: none;
}

.logo {
  border-radius: 50%;
  width: 35px;
  display: inline-block;
  padding-right: 5px;
}

.nav-logo {
  font-weight: 900;
  font-size: 22px;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    box-shadow: none;
  }

  .size-label {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 30px;
    background-color: #fff;
    position: fixed;
    left: -40%;
    top: 0;
    height: 100%;
    width: 40%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 999;
    transition: all 0.5s ease;
  }

  #nav-check:checked~.nav-links {
    left: 0%;
  }

  .nav-links li {
    padding-top: 50px;
  }

  .nav-logo {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    padding: 20px;
    width: 100%;
    top: 0;
    left: 0;
    text-align: right;
  }

  .nav-label {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    padding: 10px;
  }

}

@media (max-width: 410px) {
  #nav-check:checked~.nav-links {
    left: 0%;
  }

  .nav-links {
    width: 100%;
    left: -100%;
  }
}








/* Start of Login page  */

/* Designing the Login Page 👇👇👇👇 */


.login-div {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  /* border-radius: 10px; */
  background-color: gray;
}

/* .login-content {
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 60vw;
  height: 70vh;
  display: flex;
}

.log-cont-1 {
  width: 50%;
  background-color: #000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sw-js-blob-svg {
  position: fixed;
  z-index: 999;
}

.log-cont-1 img {
  border-radius: 10px;
  position: relative;
  height: 50%;
  width: 50%;
  z-index: 100;
  border-radius: 10px;
} */


.cont1 {
  position: relative;
  max-width: 850px;
  width: 100%;
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  perspective: 2700px;
  animation: fadeInUp 2s ease;
}

.cont1 .cover {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  z-index: 98;
  transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
}

.cont1 #flip:checked~.cover {
  transform: rotateY(-180deg);
}

.cont1 #flip:checked~.cover .front .text {
  transform: rotateY(-180deg);
}

.cont1 #flip:checked~.cover .front img {
  transform: rotateY(-180deg);
}

/* .cont1 .cover .front img {
  transform: rotateY(-180deg);
} */

.cont1 .cover .front,
.cont1 .cover .back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cover .back {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.cont1 .cover::before,
.cont1 .cover::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.5;
  z-index: 12;
}

.cont1 .cover::after {
  opacity: 0.3;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.cont1 .cover img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 10;
}

.cont1 .cover .text {
  position: absolute;
  z-index: 130;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cover .text .text-1,
.cover .text .text-2 {
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.cover .text .text-2 {
  font-size: 15px;
  font-weight: 500;
}

.cont1 .forms {
  height: 100%;
  width: 100%;
  background: #fff;
}

.cont1 .form-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-content .login-form,
.form-content .signup-form {
  width: calc(100% / 2 - 25px);
}

.forms .form-content .title {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}

.forms .form-content .title:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #000;
}

.forms .signup-form .title:before {
  width: 20px;
}

.forms .form-content .input-boxes {
  margin-top: 30px;
}

.forms .form-content .input-box {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}

.form-content .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.form-content .input-box input:focus,
.form-content .input-box input:valid {
  border-color: #000;
}

.form-content .input-box i {
  position: absolute;
  color: #000;
  font-size: 17px;
}

.forms .form-content .text {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.forms .form-content .text a {
  text-decoration: none;
}

.forms .form-content .text a:hover {
  text-decoration: underline;
}

.forms .form-content .button {
  color: #fff;
  margin-top: 40px;
}

.forms .form-content .button input {
  color: #fff;
  background: #000;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}

.forms .form-content .button input:hover {
  background: #0f0f0f;
}

.forms .form-content label {
  color: #000;
  cursor: pointer;
}

.forms .form-content label:hover {
  text-decoration: underline;
}

.forms .form-content .login-text,
.forms .form-content .sign-up-text {
  text-align: center;
  margin-top: 25px;
}

.cont1 #flip {
  display: none;
}

.eye {
  position: relative;
  z-index: 999;
  cursor: pointer;
  transition: 0.5s ease;
}

.open {
  display: block;
}

.close {
  display: none;
}

@media (max-width: 730px) {
  .cont1 .cover {
    display: none;
  }

  .form-content .login-form,
  .form-content .signup-form {
    width: 100%;
  }

  .form-content .signup-form {
    display: none;
  }

  .cont1 #flip:checked~.forms .signup-form {
    display: block;
  }

  .cont1 #flip:checked~.forms .login-form {
    display: none;
  }
}



/* Desiging the login page Complete 👆👆👆👆👆 */

/* Raio  */

#gen:hover,
#gen2:hover {
  text-decoration: none;
}


#gen,
#gen2 {
  font-size: 20px;
  font-weight: 700;
}

#Gender:checked~#gen {
  color: lime;
}

#Gender:checked~#gen2 {
  color: black;
}

#Gender2:checked~#gen {
  color: black;
}

#Gender2:checked~#gen2 {
  color: lime;
}

.Genderclass {
  display: flex;
  justify-content: space-between;
}

/* End OF lOgin Page  */